@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Esta es la app cliente.</h1>
    <h3>Para ABM usuarios acceder a: /user/index </h3>

    <h2>Deben estar iniciados los servicios para que funcione.</h2>
   
</div>