<div class="jumbotron">
    <h1>Estos son los servicios.</h1>

    <h2>Para usuarios:</h2>
    <h3>GET: /api/users</h3>
    <h3>GET By id: /api/users/id</h3>
    <h3>POST: /api/users</h3>
    <h3>PUT: /api/users/id</h3>
    <h3>DELETE: /api/users/id</h3>

    <h2>Para Cotizacion:</h2>
    <h3>/api/cotizacion/{moneda}</h3>

    <h3>Debe estar configurada la base de datos para que funcione.</h3>
</div>
